

<section class="mainCart">
    <h1>Cart Details</h1>
    <span>cart ID: {{cartId}}</span>
    <main class="cartSection">
    {{#each productos}}
    <div class="cartCard ">
        <div class="cartBody">
            <h5 class="cardTitle">Producto: {{this.product.title}}</h5>
            <p class="cardText">Cantidad: {{this.quantity}}</p>
            <p class="cardText">Precio: ${{this.product.totalPrice}}</p>
            <button id="deleteProds" data-cart-id="{{this.cartId}}" data-product-id="{{this.product._id}}" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
    {{/each}}
    </main>
</section>


<button class="btnSec" id="emptyCart" delete-cart-id="{{this.cartId}}">Vaciar Carrito</button>
<button class="btnSec"> <a href="/products">Atras</a></button>
<h3 class="mt-2">Total de la compra: ${{totalPurchase}}</h3>



<script src="../js/fetchCart.js"></script>