

<section class="mainCartCheck">
    <h1>{{title}}</h1>
    <main class="cartSectionCheck">
    <div class="cartCard ">
        <div class="cartBody">
            <h4 class="cardTitle">Muchas gracias por tu compra, {{ticket.name}} </h4>
            <p class="cardText">El codigo de tu compra es: <br><strong>{{ticket._id}}</strong></p>
            <p class="cardText">The enviaremos un correo a <strong>{{ticket.purchaser}}</strong>  con toda la información del pedido. </p>
            <p class="cardText">El total de tu compra ha sido: ${{ticket.amount}}</p>
    </div>
    </main>
</section>

<div class="btns2">
<div class="btns2">
<a href="/products">
    <button class="btnSec"> 
        Productos
    </button>
</a>
<a href="/">
    <button class="btnSec"> 
        Inicio
    </button>
</a>

<!-- Contenedor para las partículas -->
<div id="tsparticles"></div>

<!-- Librería tsParticles -->
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>


<script>
    const duration = 5 * 1000,
    animationEnd = Date.now() + duration,
    defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
    return Math.random() * (max - min) + min;
    }

    const interval = setInterval(function() {
    const timeLeft = animationEnd - Date.now();

    if (timeLeft <= 0) {
        return clearInterval(interval);
    }

    const particleCount = 50 * (timeLeft / duration);

    // since particles fall down, start a bit higher than random
    confetti(
        Object.assign({}, defaults, {
        particleCount,
        origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 },
        })
    );
    confetti(
        Object.assign({}, defaults, {
        particleCount,
        origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 },
        })
    );
    }, 250);
</script>
