    <h1>Products</h1>
<section class="mainCont">
    <main class="section">
        {{#each products}}
        <div class="card cardFront">
            <img src="https://dspncdn.com/a1/media/originals/01/37/b6/0137b6c4bb21f01f395f0c975f03e651.jpg" alt="furniture">
            <div class="text">
                <h2>{{this.title}}</h2>
                <p>Price: <strong>{{this.price}}</strong> $</p>
                <a href="http://localhost:8080/products/{{this._id}}">
                    <button type="button">
                    More details
                    </button>
                </a>
            </div>
        </div>
        {{/each}}
    </main>
    <div class="pageBtn">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Back</a>
        {{/if}}
        {{#unless hasPrevPage}}
        <p class="disable">Back</p>
        {{/unless}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Next</a>
        {{/if}}
        {{#unless hasNextPage}}
        <p class="disable">Next</p>
        {{/unless}}
        <p>Page {{currentPage}} of {{totalPages}}</p>
    </div>
</section>