<section class="mainCont">
    <h1>Cart</h1>
    <main class="section">
        <div class="card cardFront">
            <img src="https://dspncdn.com/a1/media/originals/01/37/b6/0137b6c4bb21f01f395f0c975f03e651.jpg" alt="furniture">
            <div class="text">
                <h2>{{product.title}}</h2>
                <p>Description:</p>
                <strong>{{product.description}}</strong>
                <p>Price: <strong>{{product.price}}</strong> $</p>
                <div class="btns">
                    <form action="/api/carts/{{cartId}}/products/{{product._id}}" method="POST">
                        <button type="submit" id={{product._id}}>  Add to Cart </button>
                    </form>
                    <a href="/products">
                        <button class="btnSec3">
                            Atras
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</section>