<h1>Mi perfil</h1>
<main class="profile">
<div>
        <p>Nombre: <span>{{user.first_name}} {{user.last_name}}</span> </p>
        <p>Edad: <span>{{user.age }}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <p>Role: <span>{{user.role}}</span></p>
        <a href="/api/sessions/logout">
            <button class="btnSec">
                Logout
            </button>
        </a>
            
    </div>
</main>
